body {
    background-image: url(assets/img/ohlookafuckingseahorse.jpeg);
    background-size: auto;
    background-position: center;
    height: fit-content;
}
h1 {
    padding-top: 15%;
    font-family: Dancing Script, cursive;
    font-optical-sizing: auto;
    font-size: 15vb;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
h2 {
    font-family:serif;
    font-size: 5vb;
    text-align: center;

}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    text-align: end;
}