body {
    background-image: url(assets/img/ohlookafuckingseahorse.jpeg);
    background-size: auto;
    background-position: center;
    height: auto;
}
h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 15vb;
    text-align: center;
}
h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 8vb;
    text-align: center;

}